@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.btn {
    font-size: 18;
    padding: 10;
    margin: 10;
}

.text-center {
    text-align: center;
}

.text-lg {
    font-size: 20;
    margin-bottom: 20;
}

.p-4 {
    padding: 16;
}